.messages-view {
  height: 100vh;
  width: 98%;
  margin: 0 auto; }
  .messages-view .messages-header {
    height: 30px;
    border-bottom: 1px solid #ddd;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 20px; }
    .messages-view .messages-header .name-header {
      line-height: 30px;
      width: 49%;
      text-align: center; }
    .messages-view .messages-header .user-header {
      float: left; }
    .messages-view .messages-header .connection-header {
      float: right; }
  .messages-view .messages-container {
    height: calc(100vh - 80px);
    overflow: hidden;
    overflow-y: scroll; }
  .messages-view .messages {
    position: relative; }
    .messages-view .messages::before {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      background-color: #bdbdbd; }
    .messages-view .messages .message {
      width: 100%;
      position: relative;
      overflow: hidden;
      min-height: 50px;
      font-family: 'Heebo', sans-serif;
      font-weight: 300;
      font-size: 13px; }
      .messages-view .messages .message > div {
        position: relative;
        top: 0;
        bottom: 0;
        width: calc(50% - 15px);
        background: #ddd;
        border-radius: 5px;
        padding: 5px;
        margin: 10px 0;
        transition: margin-left 200ms; }
        .messages-view .messages .message > div.aligned-left {
          margin-left: 0; }
        .messages-view .messages .message > div.aligned-right {
          margin-left: calc(50% + 5px); }
    .messages-view .messages .timeline-date {
      display: block;
      width: 100%;
      height: 25px;
      line-height: 25px;
      text-align: center;
      font-family: 'Heebo', sans-serif;
      font-weight: 300;
      font-size: 11px;
      color: #bdbdbd;
      background-color: #fff;
      position: relative; }
  .messages-view .add-button {
    height: 50px; }
    .messages-view .add-button button {
      border: 0;
      padding: 0;
      display: block;
      margin: 0 auto;
      margin-top: 2px;
      width: 46px;
      height: 46px;
      text-align: center;
      line-height: 42px;
      border: 2px solid #bdbdbd;
      border-radius: 50%;
      font-weight: bold;
      font-size: 20px;
      background: none;
      color: #333; }
