.messages-view .messages-header {
  height: 30px;
  border-bottom: 1px solid #ddd; }
  .messages-view .messages-header .name-header {
    line-height: 30px;
    width: 49%;
    text-align: center; }
  .messages-view .messages-header .user-header {
    float: left; }
  .messages-view .messages-header .connection-header {
    float: right; }

.messages-view .messages {
  margin-top: 10px; }
  .messages-view .messages .message {
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .messages-view .messages .message > div {
      position: absolute;
      top: 0;
      bottom: 0;
      width: calc(50% - 10px);
      background: #ddd;
      border-radius: 5px;
      padding: 5px; }
      .messages-view .messages .message > div.aligned-left {
        left: 0; }
      .messages-view .messages .message > div.aligned-right {
        right: 0; }
